# === IS2_ElBuhoTragon Optimized Ignore ===
# Temporales y editores
.idea/
.vscode/
*.iml
**/.cache/
*.swp
*.bak
.agent/
.claude/
.gemini/

# Python
**/__pycache__/
*.pyc
*.pyo
db.sqlite3
backend/.env
frontend/.env
Ingenieria-de-Software-2025-1/

# Node / Frontend
**/node_modules/
package-lock.json

# GitNexus (Evitar bucles recursivos)
.gitnexus/